* {
    box-sizing: border-box;
    font-family: 'gang_of_threeregular';
}

body {
    margin: 0;
    /* font-size: 17px; */
}
@font-face {
         font-family: 'gang_of_threeregular';
    src: url('fonts/JpStyle1/go3v2-webfont.woff2') format('woff2'),
         url('fonts/JpStyle1/go3v2-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'edo_szregular';
    src: url('fonts/JpStyle2/edosz-webfont.woff2') format('woff2'),
         url('fonts/JpStyle2/edosz-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}
@keyframes startmenu {
  from {opacity: 0;}
  to {opacity: 0.8;}
}
.menu {
	opacity: 0.8;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    position: absolute;
	height: 13.5%;
    transition: all 1.5s ease;
	text-shadow: rgb(4 0 255 / 72%) 2px 1.2px, rgb(245 0 0 / 86%) 7px 4px 1.5px;
	animation: startmenu 1.6s cubic-bezier(.46,-0.3,.6,.43);
}

.menu:hover {
  opacity: 1;
    background: rgba(0, 0, 0, 0.3);  
    color: #ede7d3;
    width: 100%;
    position: absolute;
	height: 12%;
 text-shadow: rgb(4 0 255 / 90%) 1px 1px, rgb(245 0 0 / 70%) 3px 3px 10px;
}
@keyframes active {
  from {box-shadow: 0px 0px 50px rgba(255 51 41 / 40%);}
  to {box-shadow: 0px 0px 50px rgb(255 51 141 / 60%);}
}
.active {
    box-shadow: 0px 0px 50px rgba(255, 51, 41, 0.44);
    padding: 14px 36px;
    margin: 7px 15px 0px 15px;
    border-radius: 5px;
	animation: active 1.7s linear infinite alternate;
}
nav ul {

list-style-type: none;

/* margin: auto; */

margin-top: 1.5%;

/* margin-left: 37%; */
}

#list {
	border-style: hidden;
	position: relative;
  border-style: hidden;
    padding: 22px 36px;
    margin: 0px 0px 0px 0px;
   transition: all 1s ease;
}
#list:hover {
  border-style: hidden;
 box-shadow: 0px 0px 50px rgba(255, 0, 80, 0.44);
    padding: 14px 36px;
    margin: 7px 15px 0px 15px;
  border-radius: 5px;
}
nav li a {
    background: rgba(0, 0, 0, 0.5);
    color: #ede7d3;
    float: left;
    text-align: center;
    text-decoration: none;
}
#timedisplay {
	margin-left: 150px;
  position: relative;
  float: right;
  font-size: 400%;
  margin-right: 3%;
  font-family: 'edo_szregular';
}
@keyframes startspeech {
  from {opacity: 0;}
  to {opacity: 1;}
}
#speech {
	position: fixed;
	border-radius: 20px;
	background: rgb(0 0 0 / 40%);
	color: #ede7d3;
	width: 64%;
	font-size: 32px;
	font-family: 'gang_of_threeregular';
	top: 14%;
	right: 1%;
	padding: 0px 30px 0px 30px;
	transition: all 1.5s ease;
	animation: startspeech 3s cubic-bezier(.98,-0.3,.95,.28);
}
#speech:hover {
	text-shadow: rgba(0, 0, 255, 0.85) 1px 1px 2px, rgba(255, 0, 0, 0.85) 0px 0px 25px, rgba(130, 0, 0, 0.85) 0px 0px 7px;
}
#PageChoose {
	position: fixed;
	border-radius: 20px;
	opacity: 0;
	right: 1%;
	bottom: 28.3%;
	max-width: 27%;
	max-height: 44%;
	/* min-width: 20%; */
	/* min-height: 35%; */
	transition: all 1.5s cubic-bezier(.56,-0.01,.58,.83);
}
#content:hover ~ #PageChoose { opacity: 1; }
@keyframes startplay {
  from {opacity: 0;}
  to {opacity: 1;}
}
#content {
	font-size: 20px;
	position: fixed;
	bottom: 0;
	background: rgb(0 0 0 / 40%);
	color: #ede7d3;
	width: 100%;
	padding: 20px;
	text-shadow: rgb(0 0 0) 1px 1px 2px, rgb(255 0 0 / 0%) 0px 0px 13px, rgb(0 10 130 / 0%) 0px 0px 7px;
	animation: startplay 2.2s cubic-bezier(.7,-0.24,.87,.43);
}
p {
	font-family: 'edo_szregular';
}
@keyframes button {
  from {box-shadow: 0px 0px 25px rgb(255 58 178 / 38%);}
  to {box-shadow: 0px 0px 18px rgb(255 0 0 / 26%);}
}
#myBtn {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    margin: 1%;
    border: none;
    background: #000;
    color: #ede7d3;
    cursor: pointer;
    animation: button 1.2s ease-in-out infinite alternate;
	transition: all .5s cubic-bezier(.56,-0.01,.58,.83)
}

#myBtn:hover {
    background: #c1baa4;
    color: #000;
}
@media only screen and (max-width: 600px) {
  /* For mobile: */
	#speech {font-size: 160%; top: 18%; width: 98%;}
	#content {font-size: 140%}
	.menu {height: 15%; opacity: 0.85; background: rgba(0, 0, 0, 0.85);}
	#list {padding: 5% 6%; margin: 0.7%;}
	.active {padding: 3.5% 4%;margin: 1.5% 3% 0px 0px;}
	#timedisplay {margin-left: 500px;}
	#PageChoose {bottom: 41%}
}
@media only screen and (max-height: 634px) {
  /* For mobile: */
	#speech {font-size: 130%; top: 24%; right: 16%;background: rgba(0, 0, 0, 0.6);}
	#content {font-size: 100%; padding: 13px;}
	.menu {height: 17%; opacity: 0.85; background: rgba(0, 0, 0, 0.6);}
	#list {padding: 2% 6%; margin: 0.7%; background: rgba(0, 0, 0, 1)}
	.active {padding: 1% 4%;margin: 1.5% 3% 0px 0px; background: rgba(0, 0, 0, 1)}
	#timedisplay {margin-left: 0px;}
	#PageChoose {bottom: 39%;}
	#myBtn {margin: 0px;}
}